<div class="sence_author_block">
    <div class="alert alert-info">
        <p>Este componente se visualiza únicamente en el LMS.</p>
        <p><strong>Lo ideal es colocar este componente <u>al inicio</u> de cada Unidad.</strong></p>
    </div>
    <p><strong>Las configuraciones Sence para este curso son:</strong></p>
    <ul>
        <li><strong>- Código Sence del curso:</strong> {{ config.sence_code }}</li>
        <li><strong>- Códigos de curso actualmente utilizados:</strong> 
            {% if config.sence_course_codes == '' %}undefined{% endif %}
            {{ config.sence_course_codes }}
        </li>
        <li><strong>- Línea de Capacitación Sence del Curso:</strong> 
            {% if config.sence_line == 1 %} Sistema Integrado de Capacitación {% endif %}
            {% if config.sence_line == 3 %} Impulsa Personas {% endif %}
        </li>
    </ul> 
    <a href="{{ export_attendance_url }}" style="font-size: 1.2em;">
    <span><i class="fa fa-file-excel-o" aria-hidden="true"></i> Descargar Registros de Asistencia</span>
    </a>
</div>